body {
  font-family: "Josefin Sans", "Noto Sans JP", sans-serif;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(241, 238, 228, 0.25);
  width: 100%;
  text-align: center;
  padding: 12px;
}

.header-nav {
  margin-top: 10px;
}

.header-nav-list {
  display: flex;
  justify-content: center;
  gap: 22px;
}

.header-nav-link {
  color: #ffffff;
}

/* 共通クラス */
.inner {
  padding: 0 40px;
}

.section-heading {
  text-align: center;
  margin-bottom: 40px;
}

.section-heading-l {
  color: #ffffff;
}

.section-heading-main {
  display: block;
  font-size: 40px;
}

.section-heading-sub {
  display: block;
  font-size: 12px;
}

/* aboutセクション */
.about {
  padding: 40px 0;
  background-color: #f1eee4;
}
.about-contents {

}

.about-text-contents {
  margin-top: 20px;
}

.about-text {
  font-size: 14px;
  line-height: 2;
}

.about-text + .about-text {
  margin-top: 16px;;
}

/* menuセクション */
.menu {
  padding: 80px 0;
  background-color: #f1eee4;
}

.menu-contents {

}

.menu-item + .menu-item {
  margin-top: 62px;
}

.menu-img {

}

.menu-text-contents {
  text-align: center;
  padding: 16px 10px;
}

.menu-name {
}

.menu-name-main {
  display: block;
  font-size: 18px;
}

.menu-name-sub {
  display: block;
  color: #a98c5f;
  font-size: 8px;
  margin-top: 8px;
}

.menu-text {
  font-size: 14px;
  color: #a98c5f;
  margin-top: 16px;
}

/* shopセクション */
.shop {
  background-image: url(../img/sp/bg-shop.png);
  background-position: center center;
  background-size: cover;
  padding: 80px 0;
}

.shop-inner {
  padding: 0 20px;
}

.shop-contents {

}

.shop-text {
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  line-height: 2;
}

.form {
  margin-top: 40px;
}

.form-input {
  width: 100%;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  font-family: "Josefin Sans", "Noto Sans JP", sans-serif;
  padding: 14px;
}

.form-submit {
  border-radius: 4px;
  border: none;
  font-family: "Josefin Sans", "Noto Sans JP", sans-serif;
  display: block;
  margin: 10px auto 0;
  width: 120px;
  padding: 12px 10px;
  background-color: #a98c5f;
  color: #ffffff;
}

/* footer */
.footer {
  background-color: #3c301e;
  text-align: center;
  padding-top: 46px;
  color: #ffffff;
}

.footer-logo {

}

.footer-text {
  font-size: 12px;
}

.footer-nav-list {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 0 20px;
}

.footer-nav-item {
  display: block;
}

.footer-nav-link {

}

.sns-img {
  width: 56px;
}

.footer-nav-link-text {
  font-size: 12px;
  margin-top: 12px;
}

.footer-copy-wrapper {
  border-top: 1px solid rgba(241, 238, 228, 0.25);
  padding: 12px;
  margin-top: 46px;
}

.footer-copyright {
  font-size: 12px;
}

/* タブレット、PCサイズの表示 */
@media screen and (min-width: 768px) {
  .header-inner {
    max-width: 1080px;
    padding: 0 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .header-nav-link {
    transition: opacity 0.3s;
  }

  .header-nav-link:hover {
    opacity: 0.7;
  }

  .inner {
    max-width: 1080px;
    padding: 0 40px;
    margin: 0 auto;
  }

  .section-heading-main {
    font-size: 60px;
  }

  .about {
    padding: 100px 0;
  }

  .about-contents {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .about-text-contents {
    margin-top: 0;
  }

  .about-img {
    width: 300px;
  }

  .about-text {
    font-size: 15px;
  }

  .menu-list {
    display: flex;
    gap: 20px;
  }

  .menu-item + .menu-item {
    margin-top: 0;
  }

  .shop {
    background-image: url(../img/bg-shop.png);
    background-position: center center;
    background-size: cover;
    padding: 80px 0;
  }

  .shop-inner {
    max-width: 700px;
    margin: 0 auto;
  }

  .form {
    display: flex;
    gap: 20px;
  }

  .form-submit {
    margin-top: 0;
    transition: opacity 0.3s;
  }

  .form-submit:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .footer-nav-list {
    gap: 40px;
  }

  .footer-text {
    margin-top: 12px;
  }
}
